# Django
DJANGO_SETTINGS_MODULE=backend.tubelytics.settings

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_GROUP_ID=tubelytics-consumer
KAFKA_CHANNEL_TOPIC=youtube.channel_stats
KAFKA_VIDEO_TOPIC=youtube.video_stats
